[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot.git
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
