[Desktop Entry]
Name=Particle Simulation
Comment= Particle Simulation application
Exec=particle-simulation
Type=Application
Icon=particle-simulation-icon
